<%- include('partials/header') -%>

<section class="min-h-screen px-10 bg-base-300">
  <div class="my-3">
    <a href="/dashboard">
      <button type="button" class="inline-block my-6 px-6 py-2.5 bg-gray-800 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out">Return to Dashboard</button>
    </a>
    </div>
    <!-- HEADER ----------------------->
  <div class="px-6 py-10">
    <h1 class="text-3xl text-center font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">
      Good First Bit Source JavaScript
    </h1>
  </div>
<!-- END OF HEADER --------------->

<!-- BODY ------------------------>
  <div>
    <ul class="row list-unstyled md:mx-32 xl:mx-96">
      <% for(let i = 0; i< data.length; i++) {%>
      <li class="col-6 justify-content-between mt-5">
        <div class="card min-w-full bg-primary shadow-xl text-zinc-300 hover:bg-success hover:text-neutral">
          <div class="card-body font-bold">
            <div class="flex flex-row">
              <h2 class="card-title font-semibold"><%= data[i].title.toUpperCase()%></h2>
              <button
                type="button"
                id="commit"
                class="absolute top-0 right-0 h-16 w-14 bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded inline-flex items-center "
              >
                <i class="fa-solid fa-code-commit rounded-lg hover:bg-error"></i>
              </button>
            
            <!-- Repo Cards Data ------------->
            </div>
              <span>Issue Number: <%= data[i].number %></span>
              <span class="truncate block">Issue Description: <%= data[i].body || 'N/A'%></span>
              <span>Created Date: <%= new Date(data[i].created_at).toLocaleDateString("en-US") %></span>
              <a href="<%= data[i].html_url %>">GitHub Issue</a>
            </div>
            <!-- End of Repo Cards Data ----->
        </div>
      </li>
      <% } %>
    </ul>
  </div>
<!-- END OF BODY ------------->

<!-- FOOTER ------------------>
    <script src="js/main.js"></script>
    <%- include('partials/footer') -%>
</section>
<!-- END OF FOOTER ---------->

</section>
